.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Imposta l'altezza fissa della navbar */
    background-color: white; /* Colore di sfondo */
    z-index: 1000; /* Assicura che sia sopra gli altri elementi */
    box-shadow: 0 4px 2px -2px gray; /* Ombra per separarla */
    display: flex; /* Utilizza Flexbox per il layout */
    align-items: center; /* Allinea gli elementi verticalmente */
    padding: 0 20px; /* Padding laterale */
}

body {
    margin: 0; /* Rimuovi il margine di default */
    padding-top: 80px; /* Spazio per la navbar */
}

.custom-link {
    color: black; /* Colore dei link */
    text-decoration: none; /* Rimuove la sottolineatura */
    margin-right: 20px; /* Margine tra i link */
}

.custom-link:hover {
    color: darkgray; /* Cambia colore al passaggio del mouse */
}

.user {
    margin-left: auto; /* Spinge l'icona utente a destra */
}
